@media (max-width: 800px){
    .header__menu-title {
            display: none;
        }
    
        .header__bg {
            margin-top: 0;
        }
    
        .header__logo {
            margin-top: 0;
        }
    
        .header__menu {
            position: relative;
        }
    
        .header__date {
            position: absolute;
            width: 20%;
            left: 80%;
            top: 30%;
        }
                .header__bg{
                    height: auto;
                }
        .header__title {
            text-align: center;
        }
    
    
        .header__title h6 {
            margin-top: 6px;
        }
    
        .girl {
            display: block;
            position: static;
            margin: 0 -10%;
        }
    
        .header__education {
            margin-top: -5%;
            margin: -5% auto 0 auto;
        }
    
        .under-button {
            display: flex;
            flex-direction: column;
        }
    
        .yellow__btn {
            margin: 23px auto 0 auto;
            justify-content: center;
        }
                .after__button .bottom{
                    left: 0;
                    top: 0;
                }
        .vector-moblie.bottom{
            top: -64%;
                left: 15%;
        }
        .no-text.bottom{
            top: -38%;
                left: 77%;
        }
        .vector_notext.bottom{
            top: 46%;
                left: 8%;
        }
    
        .after__button-text {
            position: static;
        }
    
        .no-text {
            position: absolute;
            top: 30%;
            left: 70%;
        }
    
        .vector {
            display: none;
        }
        
        .after__button-text {
            margin-left: 126px;
            margin-top: 47px;
            margin-right: 50px;
        }
    
        .vector-moblie {
            display: block;
            position: absolute;
        }
        .header{
            padding-bottom: 15%;
        }
        .transition {
            position: relative;
            width: 100%;
        }
    
        .cloud {
            width: 80%;
                height: auto;
                transform: rotate(6.26deg);
                position: absolute;
                top: -145px;
                left: -83px;
        }
    
        .cloud-2 {
            width: 80%;
                height: auto;
                transform: rotate(-7.74deg);
                position: absolute;
                top: -145px;
                left: 245px;
        }
    
        /*==================== FRAME 2 =================== */
    
        .tasks-title {
            text-align: center;
        }
    
        .tasks-subtitle {
            text-align: center;
        }
    
        .tasks__cards {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
        .tasks__card {
            margin-bottom: 8.5rem;
        }
    
        .frame-2-bg {
            height: auto;
        }
    
        /*==================== FRAME 3 =================== */
    
        .about-us__text__header {
            text-align: center;
            width: 100%;
        }
        .after__button{
            display: none;
        }
    
        .about-us__video {
            display: none;
            margin-top: 1rem;
        }
    
        .about-us__video-vector {
            margin-bottom: 16rem;
        }
    
        .about-us__text {
            width: 100%;
        }
    
        .about-us__text__header,
        .about-us__text__header__title {
            text-align: center;
        }
    
        .about-us__text__header__title {
            margin-top: 10px;
        }
    
        .about-us__text__header__text {
            opacity: 0.8;
            text-align: center;
            margin: 0;
            margin-bottom: 66px;
        }
    
        .about-us__video-mobile {
            display: block;
            position: relative;
        }
    
        .about-us__video-bg-mobile {
            width: 50%;
            margin: 0 auto;
        }
    
        .about-us__video-button {
            position: absolute;
            top: 95%;
            left: 280px;
        }
    
        .about-us__video-vector {
            top: 50px;
            left: 130px;
        }
    
    
        .about-us__video-text {
            top: 10px;
        }
        .after__button.bottom{
            display: block;
        }
    
        /* ==================== FRAME 4 ======================= */
    
        .about-us__text__article {
            width: 75%;
            box-sizing: border-box;
            border: 1px solid rgb(52, 52, 52);
            border-radius: 10px;
            margin: 155px auto 0 auto;
        }
    
        .about-us__text__title {
            text-align: center;
        }
    
        .frame-3-bg {
            height: auto;
        }
    
        .about-us__text__title,
        .about-us__text__paragraph {
            margin: 33px 21px 0 21px;
        }
    
        .about-us__text__paragraph:last-child {
            margin-bottom: 58px;
        }
    
        .about-us__figure {
            top: -10px;
            left: 0;
            width: 50%;
            height: 107px;
            margin: 0 auto;
            padding-bottom: 4.6rem;
        }
    
        .about-us__figure__title,
        .about-us__figure__text {
            margin: 0 17px;
        }
    
        .about-us__figure::after,
        .about-us__figure::before {
            width: 100%;
            height: 110%;
        }
        .header__date-title{
            text-align: center;
        }
        .about-us__figure__title {
            padding-top: 10px;
        }
    
        .about-us__figure__text {
            margin-bottom: 18px;
        }
        .countdown-timer{
            font-size: 60px;
        }
                .countdown-quote{
                    font-size: 50px;
                }
    
        /*===================== FRAME 5 ====================== */
    
    
        .preferences__title-text {
            font-style: italic;
            margin-right: 42px;
            margin-left: 42px;
        }
    
        .preferences__title-h1::before {
            text-align: justify;
            top: -10rem;
            left: 5rem;
            font-size: 80px;
        }
    
        .preferences__title-h1::after {
            text-align: justify;
            top: -3rem;
            left: 12rem;
            font-size: 80px;
        }
    
        .preferences__card {
            width: 225px;
        }
    
        .pc1,
        .pc2 {
            margin: 8.3rem 0 0 0;
        }
    
        .pc1 {
            height: 100%;
                padding-bottom: 10%;
        }
    
    
        .preferences__card-list-item {
            text-align: left;
            margin: 1rem 22px;
        }
    
        .preferences__card-image-konus {
            top: 16rem;
            left: -3.4rem;
            width: 72.2px;
            height: 72.2px;
        }
    
        .preferences__card-image-shina {
            top: 21rem;
            left: 19rem;
            width: 52px;
            height: 64.33px;
        }
    
        .preferences__card-list-item:last-child {
            margin-bottom: 32px;
        }
    
        /*===================== FRAME 5 ====================== */
    
        .question__header-title {
            text-align: center;
        }
    
        .question__header-paragraph {
            text-align: center;
            margin-left: 0;
        }
    
        .question__block {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    
        .question__block-cross {
            width: 29px;
            margin-right: 0;
        }
    
    
        .question__block-answer-text {
            padding: 19px 20px;
            margin-left: 0;
        }
    
        .question__block:last-child {
            padding-bottom: 145px;
        }
    
        .ts-2 {
            position: relative;
            top: 40px;
            left: 0;
            bottom: 0;
            right: 0;
        }
    
        .cl-sec {
            top: -20%;
                left: -20%;
        }
    
        .cl-2-sec {
            top: -23%;
                left: 34%;
        }
    
        /*================ FRAME 6 =================*/
    
    
        .countdown-quote {
            margin: 0 15px;
        }
    
        .join-us__button-instagram {
            order: 2;
        }
    
        .btn-footer {
            margin: 0;
        }
    
        .join-us__buttons {
            justify-content: center;
        }
                .join-us__block-header-title {
                    font-size: 28px;
                }
        
                .join-us__block-header-text {
                    font-size: 16px;
                }
        
                .join-us__block-timer-text-date {
                    font-size: 11px;
                }
    
        .footer {
            flex-direction: column;
            justify-content: center;
        }
    
        .footer-logo {
            width: 120.57px;
            height: 31.19px;
            margin: 0 auto;
        }
    
        .footer-love,
        .copyright {
            margin: 0 auto;
            text-align: center;
        }
    
        .footer-love {
            margin: 35px 0;
        }
}
@media (max-width: 400px) {
    .header__menu-title {
        display: none;
    }

    .header__bg {
        margin-top: 0;
    }

    .header__logo {
        margin-top: 0;
    }

    .header__date-title {
        font-size: 9px;
    }

    .header__date-subtitle {
        font-size: 6px;
    }

    .header__menu {
        position: relative;
    }

    .header__date {
        position: absolute;
        width: 20%;
        left: 80%;
        top: 30%;
        font-size: 6px;
        font-weight: 300;
        letter-spacing: 0.03em;
    }

    .header__title {
        text-align: center;
    }

    .header__title h1 {
        font-size: 16px;
    }

    .header__title h3 {
        font-size: 16px;

    }

    .header__title h6 {
        margin-top: 6px;
        font-size: 12px;
        letter-spacing: 0.03em;
    }

    .girl {
        display: block;
        position: static;
        margin: 0 -10%;
    }

    .header__education {
        margin-top: -5%;
        margin: -5% auto 0 auto;
    }

    .under-button {
        display: flex;
        flex-direction: column;
    }

    .yellow__btn {
        margin: 23px auto 0 auto;
        justify-content: center;
    }

    .after__button {
        display: block;
        position: relative;
    }

    .after__button-text {
        position: static;
    }

    .no-text {
        position: absolute;
        top: 30%;
        left: 70%;
    }

    .vector {
        display: none;
    }

    .after__button-text {
        margin-left: 126px;
        margin-top: 47px;
        margin-right: 50px;
    }

    .vector-moblie {
        display: block;
        position: absolute;
        top: 90%;
        left: 10%;
    }

    .transition {
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 225.27px;
        top: 732px;
        bottom: 4595.73px;
    }

    .cloud {
        width: 474.64px;
        height: 168.69px;
        top: 0;
        left: -150px;
        transform: rotate(6.26deg);
    }

    .cloud-2 {
        width: 401.79px;
        height: 142.8px;
        top: 20px;
        left: 125.18px;
        transform: rotate(-5.86deg);
    }

    /*==================== FRAME 2 =================== */

    .tasks-title {
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.03em;
    }

    .tasks-subtitle {
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: 0.03em;
    }

    .tasks__cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .tasks__card {
        margin-bottom: 8.5rem;
    }

    .frame-2-bg {
        height: auto;
    }

    /*==================== FRAME 3 =================== */

    .about-us__text__header {
        text-align: center;
        width: 100%;
    }

    .about-us__video {
        display: none;
        margin-top: 1rem;
    }

    .about-us__video-vector {
        margin-bottom: 16rem;
    }

    .about-us__text {
        width: 100%;
    }

    .about-us__text__header,
    .about-us__text__header__title {
        text-align: center;
    }

    .about-us__text__header__title {
        margin-top: 10px;
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0.03em;
    }

    .about-us__text__header__text {
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: 0.03em;
        opacity: 0.8;
        text-align: center;
        margin: 0;
        margin-bottom: 66px;
    }

    .about-us__video-mobile {
        display: block;
        position: relative;
    }

    .about-us__video-bg-mobile {
        width: 90%;
        margin: 0 auto;
    }

    .about-us__video-button {
        position: absolute;
        top: 95%;
        left: 280px;
    }

    .about-us__video-vector {
        top: 50px;
        left: 130px;
    }


    .about-us__video-text {
        top: 10px;
    }

    /* ==================== FRAME 4 ======================= */

    .about-us__text__article {
        width: 75%;
        box-sizing: border-box;
        border: 1px solid rgb(52, 52, 52);
        border-radius: 10px;
        margin: 155px auto 0 auto;
    }

    .about-us__text__title {
        text-align: center;
    }

    .frame-3-bg {
        height: auto;
    }

    .about-us__text__title,
    .about-us__text__paragraph {
        margin: 33px 21px 0 21px;
        font-size: 14px;
    }

    .about-us__text__paragraph:last-child {
        margin-bottom: 58px;
    }

    .about-us__figure {
        top: -10px;
        left: 0;
        width: 277px;
        height: 107px;
        margin: 0 auto;
        padding-bottom: 4.6rem;
    }

    .about-us__figure__title,
    .about-us__figure__text {
        font-size: 11px;
        margin: 0 17px;
    }

    .about-us__figure::after,
    .about-us__figure::before {
        width: 277px;
        height: 107px;
    }

    .about-us__figure__title {
        padding-top: 10px;
    }

    .about-us__figure__text {
        margin-bottom: 18px;
    }

    /*===================== FRAME 5 ====================== */

    .preferences__title-h1 {

        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.03em;
    }

    .preferences__title-h2 {
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: 0.03em;
    }

    .preferences__title-text {
        font-style: italic;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        margin-right: 42px;
        margin-left: 42px;
    }

    .preferences__title-h1::before {
        font-size: 41px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.03em;
        text-align: justify;
        top: -3rem;
        left: 5rem;
    }

    .preferences__title-h1::after {
        font-size: 35px;
        font-weight: 700;
        line-height: 43px;
        letter-spacing: 0.03em;
        text-align: justify;
        top: 2rem;
        left: 12rem;
    }

    .preferences__card {
        width: 225px;
    }

    .pc1,
    .pc2 {
        margin: 8.3rem 0 0 0;
    }

    .pc1 {
        height: auto;
    }

    .preferences__card-title {
        font-size: 12.5px;
        font-weight: 700;
        line-height: 15px;
    }

    .preferences__card-list-item {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
        margin: 1rem 22px;
    }

    .preferences__card-image-konus {
        top: 16rem;
        left: -3.4rem;
        width: 72.2px;
        height: 72.2px;
    }

    .preferences__card-image-shina {
        top: 21rem;
        left: 19rem;
        width: 52px;
        height: 64.33px;
    }

    .preferences__card-list-item:last-child {
        margin-bottom: 32px;
    }

    /*===================== FRAME 5 ====================== */

    .question__header-title {
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
    }

    .question__header-paragraph {
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        letter-spacing: 3%;
        text-align: center;
        margin-left: 0;
    }

    .question__block {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .question__block-cross {
        width: 29px;
        margin-right: 0;
    }

    .question__block-text {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
    }

    .question__block-answer-text {
        font-size: 10px;
        padding: 19px 20px;
        margin-left: 0;
    }

    .question__block:last-child {
        padding-bottom: 145px;
    }
    .ts-2{
        position: relative;
        top: 40px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .cl-sec{
                top: 79px;
                    left: -140px;
    }
    .cl-2-sec{
        top: 104px;
            left: 111px;
    }

    /*================ FRAME 6 =================*/

    .join-us__block-header-title {
        font-size: 19px;
    }

    .join-us__block-header-text {
        font-size: 12px;
    }

    .join-us__block-timer-text-date {
        font-size: 11px;
    }

    .countdown-timer,
    .countdown-quote {
        font-size: 44.57px;
    }

    .under-digital {
        font-size: 9px;
    }

    .countdown-quote {
        margin: 0 15px;
    }

    .join-us__button-instagram {
        order: 2;
        width: 40.39px;
        height: 40px;
        margin-right: 54px;
    }

    .btn-footer {
        margin: 0;
        width: 140px;
        height: 39.08px;
        font-size: 8.6px;
        margin-left: 50px;
    }

    .join-us__buttons {
        justify-content: center;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo{
        width: 120.57px;
            height: 31.19px;
            margin: 0 auto;
    }
    .footer-love, .copyright{
        margin: 0 auto;
        text-align: center;
    }
        .footer-love{
            margin: 35px 0;
        }  .no-text-text.bold.bottom,.after__button-text.bottom {
            font-size: 11px;
        }
}