html {
    font-size: 10px
}

body {
    background: #363636;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto
}

.bg {
    display: block;
    background-size: 100% auto;
    width: 100%
}

.header__bg {
    background: url(../Img/bg/background\ image1.webp) no-repeat center;
    margin-top: 66px;
    height: 807px;
    background-size: cover;
    background-position: center
}

.header {
    position: relative;
    margin: 0 auto
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.header__menu-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center
}

.header__menu-title h2 {
    font-size: 1.3rem
}

.header__menu-title h6 {
    font-size: 1.1rem
}

.header__logo {
    margin: -38px 91px 58px
}

.header__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.header__date-title {
    font-size: 1.6rem
}

.header__date-subtitle {
    font-size: 1.1rem
}

.header__title h1 {
    font-size: 43px;
    letter-spacing: .03em;
    text-transform: uppercase
}

.header__title h3 {
    font-size: 43px;
    letter-spacing: .03em
}

.header__title h6 {
    font-size: 15px;
    letter-spacing: .03em
}

.girl {
    position: absolute;
    top: 166px;
    right: -120px
}

.header__education {
    width: 296px;
    height: 70px;
    white-space: wrap;
    text-overflow: ellipsis;
    margin-top: 71px;
    clip-path: polygon(6% 1%, 100% 1%, 95% 100%, 0 100%);
    background: linear-gradient(83.99deg, #93d0fc4d .239%, #d2a6ff4d 95.157%);
    position: relative
}

.header__education::after {
    content: "";
    display: block;
    border-radius: 6px;
    width: 296px;
    height: 70px;
    filter: blur(30px);
    background: radial-gradient(104.02% 104.00% at 50% 50%, #93d0fc, #93d0fca1 100%);
    clip-path: polygon(6% 1%, 100% 1%, 95% 100%, 0 100%);
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0
}

.header__education::before {
    content: "";
    display: block;
    width: 296px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: inset 0 0 9px 0 #ffffff59;
    backdrop-filter: blur(7px);
    background: linear-gradient(83.99deg, #93d0fc4d .239%, #d2a6ff4d 95.157%);
    clip-path: polygon(6% 1%, 100% 1%, 95% 100%, 0 100%)
}

.header__education-text {
    position: relative;
    display: inline-block;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: .029em;
    text-wrap: wrap;
    text-align: left;
    margin: 0 3.2rem;
    margin-top: 5%;
    z-index: 5
}

.under__button {
    display: flex
}

.yellow__btn {
    position: relative;
    width: 228px;
    height: 66.64px;
    border-radius: 3% 4% 3% 4% / 50% 50% 41% 46%;
    box-shadow: 0 0 11px 0 #d9e454;
    background: #d9e454;
    margin-top: 7rem;
    transition: all ease-out .3s;
    z-index: 6;
    color: #515151;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: .1em;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 3;
    cursor: pointer
}

.yellow__btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 228px;
    height: 66.64px;
    content: "";
    filter: blur(30px);
    background: linear-gradient(90.00deg, #fff0, #fff9 48.333%, #fff0 100%)
}

.yellow__btn::before {
    width: 228px;
    height: 66.64px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    filter: blur(30px);
    background: linear-gradient(90.00deg, #fff0, #fff9 48.333%, #fff0 100%)
}

.yellow__btn:hover {
    background: #f2ff5d;
    cursor: pointer
}

.vector {
    position: absolute;
    width: 118px;
    height: 21.2px;
    left: 375px;
    top: 645.5px
}

.vector-moblie {
    display: none
}

.after__button-text {
    font-family: 'Century Gothic';
    font-size: 15px;
    left: 459px;
    top: 600px;
    position: absolute
}

.no-text {
    position: absolute;
    width: 71.51px;
    height: 23.27px;
    left: 600px;
    top: 580px;
    transform: rotate(21.64deg);
    box-sizing: border-box;
    border: .5px solid #fff;
    border-radius: 22px
}

.no-text-text {
    text-align: center;
    margin: 5px
}

.vector_notext {
    position: absolute;
    width: 59.88px;
    height: 0;
    left: 5px;
    top: 10px;
    transform: rotate(3.0deg);
    border: 1px solid red
}

.transition {
    display: flex;
    position: relative;
    z-index: 3;
    pointer-events: none;
    width: 100%
}

.cloud {
    position: absolute;
    width: 1510.12px;
    height: 536.71px;
    left: -390px;
    top: -110px;
    transform: rotate(1.26deg)
}

.cloud-2 {
    position: absolute;
    width: 1278.35px;
    height: 454.33px;
    left: 500.78px;
    top: 30px;
    transform: rotate(1.86deg)
}

.frame-2-bg {
    height: 826px;
    background: url(../Img/bg/bg2.webp) no-repeat center;
    background-size: cover;
    background-position: center
}

.tasks-title {
    display: block;
    padding-top: 186px;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase
}

.tasks-subtitle {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 3%;
    text-align: left
}

.tasks__cards {
    display: flex;
    margin-top: 5.8rem;
    justify-content: space-between
}

.tasks__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 262px;
    box-sizing: border-box;
    border: 1px solid #454545;
    border-radius: 11px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.06rem
}

.tasks__card-img {
    margin-top: 30px
}

.tasks__card-img-blur {
    position: relative;
    filter: blur(29.53px);
    background: radial-gradient(50.00% 50.00% at 50% 50%, #d2a6ff80, #d2a6ff00 98.854%);
    width: 215.22px;
    height: 184.28px;
    top: -7rem
}

.task__card-text {
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-bottom: 3rem;
    width: 23rem
}

.task__card-number {
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    line-height: 61px;
    top: -3rem;
    left: 40%
}

.task__card-blur {
    position: absolute;
    width: 223px;
    height: 17px;
    top: -1rem;
    left: 10%;
    filter: blur(11px);
    background: radial-gradient(50.00% 50.00% at 50% 50%, #d2a6ff, #d2a6ff00 98.854%)
}

.frame-3-bg {
    height: 826px;
    background: url(../Img/bg/b3.webp) no-repeat center;
    background-size: cover;
    background-position: center
}

.about-us {
    display: flex
}

.about-us__text,
.about-us__video {
    display: block;
    width: 50%
}

.about-us__text__header__title {
    color: #fff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase
}

.about-us__text__header__text {
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 3%;
    text-align: left;
    margin-left: 9.6rem;
    margin-bottom: 8.9rem
}

.about-us__text__article {
    display: block
}

.about-us__text__title {
    color: #fff;
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1.6rem
}

.about-us__text__paragraph {
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left
}

.about-us__video-bg {
    width: 350%;
    margin-left: 150px;
    position: relative
}

.about-us__video-button {
    position: relative;
    width: 6rem;
    aspect-ratio: 1;
    box-shadow: inset 0 0 11px 0 #edff1e;
    background: #ffc700;
    border-radius: 100%;
    display: block;
    transition: all .3s;
    top: -170px;
    left: 380px
}

.about-us__video-button::after {
    content: "";
    position: absolute;
    top: -30%;
    left: -30%;
    width: 97px;
    height: 97px;
    border: .75px solid #e4b354;
    border-radius: 100%;
    transition: all .3s
}

.about-us__video-button::before {
    content: "";
    position: absolute;
    top: 27%;
    left: 30%;
    z-index: 3;
    width: 27.61px;
    height: 27.61px;
    transform: rotate(90.00deg);
    box-shadow: 0 4px 4px 0 #00000026;
    background: #fff;
    border-radius: 5px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: all .3s
}

.about-us__video-button:hover {
    box-shadow: inset 0 0 11px 0 #edff1e;
    background: #ffd748
}

.about-us__video-button:hover::before {
    top: 20%
}

.about-us__video-button:hover::after {
    border: .75px solid #e4b354
}

.about-us__video-vector-text {
    position: relative
}

.about-us__video-vector {
    position: absolute;
    top: -140px;
    left: 220px;
    transform: scale(-1, 1)
}

.about-us__video-text {
    position: absolute;
    top: -170px;
    left: 150px
}

.about-us__figure {
    position: absolute;
    display: block;
    width: 542px;
    height: 117px;
    position: relative;
    border-radius: 3% 4% 3% 4% / 50% 50% 41% 46%;
    left: 200px
}

.about-us__figure::before {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 542px;
    height: 116px;
    border-radius: 3% 4% 3% 4% / 50% 50% 41% 46%;
    filter: blur(49.71px);
    background: radial-gradient(104.02% 104.00% at 50% 50%, #93d0fc, #93d0fca1 100%);
    opacity: .8
}

.about-us__figure::after {
    border-radius: 3% 4% 3% 4% / 50% 50% 41% 46%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 542px;
    height: 116px;
    box-shadow: inset 0 0 9px 0 #ffffff59;
    backdrop-filter: blur(7px);
    background: linear-gradient(83.99deg, #93d0fc4d .2%, #d2a6ff4d 95.203%)
}

.about-us__figure__title {
    position: relative;
    color: #fff;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1.5%;
    text-align: left;
    text-transform: uppercase;
    z-index: 3;
    padding-top: 1.8rem;
    margin-left: 4.8rem
}

.about-us__figure__text {
    position: relative;
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 101%;
    letter-spacing: 0;
    text-align: left;
    z-index: 3;
    margin-bottom: 2.1rem;
    margin-left: 4.8rem;
    margin-right: 3.4rem
}

.frame-5-bg {
    height: auto;
    background: url(../Img/bg/bg5.webp) no-repeat center;
    background-size: cover;
    background-position: center
}

.about-us__video-mobile {
    display: none
}

.preferences__title {
    padding-top: 12.9rem;
    font-family: Montserrat;
    letter-spacing: .03em;
    text-align: center;
    color: #fff
}

.preferences__title-h1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 44px;
    position: relative;
    z-index: 5
}

.preferences__title-h2 {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    opacity: .6
}

.preferences__title-text {
    color: #fff;
    margin-top: 6rem;
    font-family: Century Gothic;
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase
}

.preferences__title-h1::before {
    content: "Что ты";
    color: #000;
    font-family: Montserrat;
    font-size: 166px;
    font-weight: 700;
    line-height: 202px;
    letter-spacing: .03em;
    text-align: justify;
    text-transform: uppercase;
    position: absolute;
    left: 5.5rem;
    top: -5.2rem;
    z-index: 2;
    opacity: .3
}

.preferences__title-h1::after {
    content: "Получишь";
    color: #000;
    font-family: Montserrat;
    font-size: 166px;
    font-weight: 700;
    line-height: 202px;
    letter-spacing: 3%;
    text-align: justify;
    text-transform: uppercase;
    position: absolute;
    left: 15.5rem;
    top: 10rem;
    z-index: 2;
    opacity: .3
}

.preferences__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.preferences__card {
    width: 460px;
    border-radius: 11px;
    background: #e1e1e1;
    position: relative
}

.preferences__card:last-child {
    margin-bottom: 155px
}

.preferences__card-title {
    color: #4b4b4b;
    font-family: Century Gothic;
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    margin: 22px 0 0
}

.preferences__card-list-item {
    color: #4b4b4b;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    margin: 22px 51px 0
}

.preferences__card-list-item:last-child {
    margin-bottom: 32px
}

.preferences__card-image-konus {
    position: absolute;
    top: 0;
    left: 0
}

.preferences__card-image-shina {
    position: absolute;
    top: 0;
    left: 0
}

.pc1 {
    margin-top: 130px;
    height: 262px
}

.pc2 {
    margin-top: 206px
}

.preferences__card {
    width: 460px;
    border-radius: 11px;
    background: #e1e1e1;
    position: relative
}

.preferences__card-title {
    color: #4b4b4b;
    font-family: Century Gothic;
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;
    margin: 22px 0 0
}

.preferences__card-list-item {
    color: #4b4b4b;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    margin: 22px 51px 0
}

.preferences__card-image-konus {
    position: absolute;
    top: 14rem;
    left: -11rem
}

.preferences__card-image-shina {
    position: absolute;
    top: -9rem;
    left: 38rem
}

.pc1 {
    margin-top: 130px
}

.pc2 {
    margin-top: 206px
}

.frame-4-bg {
    background: url(../Img/bg/bg4.webp) no-repeat center;
    background-size: cover;
    background-position: center
}

.question__header {
    padding-top: 13rem;
    color: #fff;
    font-family: Montserrat;
    letter-spacing: 3%;
    text-align: left
}

.question__header-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase
}

.question__header-paragraph {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    margin-left: 20rem;
    margin-bottom: 9.3rem
}

.question__block {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%
}

.question__block-question {
    background: linear-gradient(90.00deg, #3e3e3e, #232323 100%);
    color: #fff;
    font-family: Century Gothic;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    padding: 40px 30px;
    border-radius: 10px
}

.question__block-cross {
    width: 28px;
    height: 0;
    border: 3px solid #fff;
    margin-right: 4rem;
    border-radius: 5px;
    position: relative;
    transition: transform .3s ease
}

.rotate-310 {
    transform: rotate(310deg)
}

.question__block-cross::after {
    content: "";
    width: 28px;
    height: 0;
    border: 3px solid #fff;
    transform: rotate(90.00deg);
    border-radius: 5px;
    position: absolute;
    top: -2px;
    right: -7%
}

.questions__block {
    display: flex;
    flex-direction: column
}

.question__block-answer {
    margin: 0 auto;
    width: 90%;
    background: #e1e1e1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 50px
}

.question__block-answer-text {
    color: #000;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 auto;
    padding: 35px 0;
    margin-left: 4rem
}

.question__block:last-child {
    padding-bottom: 370px
}

.ts-2 {
    height: 130px
}

.cl-sec {
    top: -60px;
    transform: rotate(.26deg)
}

.cl-2-sec {
    top: -30px;
    left: 300px;
    transform: rotate(.26deg)
}

.frame-6-bg {
    background: url(../Img/bg/bg6.webp) no-repeat center;
    background-size: cover;
    background-position: center
}

.join-us__block-header {
    color: #fff;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: .03em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 257px
}

.join-us__block-header-title {
    font-size: 36px
}

.join-us__block-header-text {
    font-size: 26px;
    font-weight: 300;
    line-height: 32px
}

.join-us__block-timer-text {
    margin-top: 60px;
    color: #fff;
    font-family: Century Gothic;
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase
}

.timer-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
    display: flex;
    flex-direction: row
}

.countdown-timer {
    color: #fff;
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase
}

.under-digital {
    color: #fff;
    font-family: Century Gothic;
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase
}

.coundown-inner-box {
    display: flex;
    flex-direction: column
}

.countdown-quote {
    color: #fff;
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 3%;
    text-align: left;
    text-transform: uppercase;
    margin: 0 25px
}

.join-us__buttons {
    margin: 65px auto 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.join-us__button-instagram {
    width: 66px;
    height: 64px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 0 0 11px 0 #d2a6ff;
    background: linear-gradient(135.00deg, #d2a6ff 0%, #c6c8ff 31.146%, #ff84dd 69.781%, #e4c554 100%)
}

.btn-footer {
    margin-top: 0
}

.fa-vk {
    color: #fff;
    font-size: 60px
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 103px;
    padding-bottom: 43px
}

.footer-love {
    color: #fff;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 3%;
    text-align: right
}

.copyright {
    color: #fff;
    font-family: Century Gothic;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 3%;
    text-align: right
}

.after__button .bottom {
    position: relative;
    top: -50px;
    left: 300px
}

.no-text.bottom {
    top: -111px;
    left: 459px
}

.vector_notext.bottom {
    position: absolute;
    top: 10px;
    left: 3px
}

.no-text-text.bold.bottom {
    position: absolute;
    top: 0;
    left: 5px
}

img.vector.bottom {
    top: -60px;
    left: 240px
}

.form__title {
    text-align: center
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0006;
    padding-top: 60px
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 400px;
    text-align: center;
    border-radius: 15px
}

.form__title {
    color: #383838;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .03em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px
}

.form__subtitle {
    color: #383838;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 9px;
    margin-bottom: 30px
}

.form__text {
    color: #383838;
    font-family: Century Gothic;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-bottom: 43px
}

.form__label {
    color: #383838;
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left
}